<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Блокнот.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Блокнот.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="f" serializeAs="String">
                <value>Arial Unicode MS, 12pt</value>
            </setting>
            <setting name="saf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="chech1" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="check2" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="check3" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="track" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="opac" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="check4" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="siz" serializeAs="String">
                <value>1042, 532</value>
            </setting>
            <setting name="check5" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="check6" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="coldial" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="fonttext" serializeAs="String">
                <value>Arial Unicode MS; 12</value>
            </setting>
            <setting name="fon" serializeAs="String">
                <value>Arial Unicode MS, 12pt</value>
            </setting>
            <setting name="check7" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="back" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="form" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="vi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="labfon" serializeAs="String">
                <value>Arial Unicode MS, 12pt</value>
            </setting>
            <setting name="zag" serializeAs="String">
                <value>Новый1</value>
            </setting>
            <setting name="richfont" serializeAs="String">
                <value>Arial Unicode MS, 12pt</value>
            </setting>
            <setting name="sagolovok" serializeAs="String">
                <value>Новый1 - ClassicPad</value>
            </setting>
            <setting name="check8" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="autowordselection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radiobutton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radiobutton2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="border" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="toolstripcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="menuitemcheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="panel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textbox" serializeAs="String">
                <value />
            </setting>
            <setting name="register" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="selectfounded" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="word" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="darkthemechecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="darktheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lighttheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tosave" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeDark" serializeAs="String">
                <value>False</value>
            </setting>
        </Блокнот.Properties.Settings>
    </userSettings>
</configuration>